h1 {
  position: fixed;
  left: 5vw;
  right: 5vw;
  top: 2vh;
  font-size: 3vh;
}

#status-text {
  position: fixed;
  top: 10vh;
  left: 5vw;
  right: 5vw;
  text-align: center;
  font-size: 3vh;
  color: red;
}

#image-preview {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#image-selector {
  visibility: hidden;
}

#icon-camera {

  button {
    width: 100vw;
    height: 100vh;
    background: none;
    border: none;
  }
}