service cloud.firestore {
  match /databases/{database}/documents {
    match /scans/{scan} {    
      allow create, get, update: if true;
      allow list, delete: if false;
    }    
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}